{% set page_title              = "CEM Training Registration – EnergyWize" %}
{% set header_badge            = "CEM Training Registration" %}
{% set hero_tag                = "New Applicant" %}
{% set hero_title_main         = "Certified Energy Manager" %}
{% set hero_subtitle           = "For new applicants joining the DOE Certified Energy Manager training program. Fill in all required fields completely." %}
{% set form_action             = "/training/submit" %}
{% set designation_placeholder = "e.g. Energy Engineer" %}
{% set footer_program_label    = "CEM Training Registration" %}
{% set online_price            = "₱18,000" %}
{% set hybrid_price            = "₱19,500" %}
{% set selfpaced_online_price  = "₱19,500" %}
{% set selfpaced_f2f_price     = "₱19,500" %}
{% include "training/_program_form.html" %}
